<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>

<style type="text/css">
  .content {
      min-width: 400px;
  }
  #calendar {
      width: 700px;
  }
  .subdomain-text {
      fill: #fff;
  }
  #calendar a {
      color: #999;
  }
  @media all and (max-width:1400px) {
      #calendar {
          width: 500px;
      }
  }
  @media all and (max-width:730px) {
      #calendar {
          width:365px;
      }
  }
  @media all and (max-width:420px) {
      #calendar {
          width:191px;
      }
  }
</style>
