<header class="site-header" role="banner">

  <div class="wrapper">
    <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
        {% for page in site.header-pages %}
          <a class="page-link" href="/{{ page | downcase }}">{{ page }}</a>
        {% endfor %}
        <a class="page-link" href="{{ site.website }}">{{ site.website | remove: "https://" | remove: "http://" }}</a>
      </div>
    </nav>

  </div>
</header>
