<header class="site-header" role="banner">

  <div class="wrapper">
    <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
        {% assign static_pages = "Projects" | split: "," %}
        {% assign page_list = site.header-pages | concat: static_pages %}
        {% for page in page_list %}
          <a class="page-link" href="{{ site.baseurl }}/{{ page | downcase }}">{{ page }}</a>
        {% endfor %}
        <input type="text" id="search-input" placeholder="search...">
      </div>
    </nav>
  </div>
  <div class="wrapper">
    <ul id="results-container"></ul>
  </div>
</header>
